{% extends layout.html %}

{% block title %} {{$title}} {% endblock %}

{% block content %}


    <!-- ====================================
    ——— WRAPPER
    ===================================== -->
    <div class="wrapper">
      
        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        {% include sidebar.html %}

      <!-- ====================================
      ——— PAGE WRAPPER
      ===================================== -->
      <div class="page-wrapper">
        
          <!-- Header -->
          <header class="main-header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>

              <span class="page-title"> {{ $page_title }} </span>

              <div class="navbar-right ">

                <ul class="nav navbar-nav">

                  <!-- Offcanvas -->

                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <img src="img/user-icon.png" class="user-image rounded-circle" alt="User" />
                      <span class="d-none d-lg-inline-block"> {{$_SESSION['full_name']}} </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="p-2">
                          <span class=""> Welcome, {{$_SESSION['full_name']}} </span>
                      </li>

                      <li class="dropdown-footer mt-0">
                        <a class="dropdown-link-item justify-content-start" href="?logout=true"> <i class="mdi mdi-logout"></i> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>


          </header>

        <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
            <div class="content">                
                
                <!-- Table Product -->
                <div class="row">
                  <div class="col-12">

                    {% if($edit_message): %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{$edit_message ?? ''}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    {% endif; %}

                    <form method="POST" action="">
                      <input type="hidden" value="{{$product['product_id']}}" name="product_id" />
                      <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productName" class="form-control" id="productName" placeholder="Enter Product name" value="{{$product['product_name']}}" required>
                      </div>
                      <div class="form-group">
                        <label for="productDesc">Product Description</label>
                        <textarea name="productDesc" class="form-control" id="productDesc" rows="3"> {{$product['product_description']}} </textarea>
                      </div>
                      <div class="form-group">
                        <label for="productCostPrice">Product Cost Price</label>
                        <input type="text" name="productCostPrice" class="form-control" id="productCostPrice" placeholder="Enter Product Cost Price" value="{{$product['cost_price']}}" required>
                      </div>
                      <div class="form-group">
                        <label for="productSellingPrice">Product Selling Price</label>
                        <input type="text" name="productSellingPrice" class="form-control" id="productSellingPrice" placeholder="Enter Product Selling Price" value="{{$product['selling_price']}}" required>
                      </div>
                      <div class="form-group">
                        <label for="productDiscountedPrice">Product Discounted Price</label>
                        <input type="text" name="productDiscountedPrice" class="form-control" id="productDiscountedPrice" placeholder="Enter Product Discounted Price" value="{{$product['discounted_price']}}" required>
                      </div>
                      <div class="form-group">
                        <label for="productQuantity">Product Quantity in Stock</label>
                        <input type="text" name="productStock" class="form-control" id="productStock" placeholder="Enter Product Quantity in Stock" value="{{$product['stock']}}" required>
                      </div>
                      <div class="form-footer mt-6">
                        <button name="submit" type="submit" class="btn btn-primary btn-pill">Submit</button>
                        <a href="/products" class="btn btn-light btn-pill">Cancel</a>
                      </div>
                    </form>

                  </div>
                </div>


            </div>
          
        </div>
        
          <!-- Footer -->
          <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy;<span id="copy-year"></span> ABC Retail</a>.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>

    </div>
    
                    <!-- Card Offcanvas -->
                    <div class="card card-offcanvas" id="contact-off" >
                      <div class="card-header">
                        <h2>Contacts</h2>
                        <a href="#" class="btn btn-primary btn-pill px-4">Add New</a>
                      </div>
                      <div class="card-body">

                        <div class="mb-4">
                          <input type="text" class="form-control form-control-lg form-control-secondary rounded-0" placeholder="Search contacts...">
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-01.jpg" alt="User Image">
                              <span class="active bg-primary"></span>
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Selena Wagner</span>
                              <span class="discribe">Designer</span>
                            </a>
                          </div>
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-02.jpg" alt="User Image">
                              <span class="active bg-primary"></span>
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Walter Reuter</span>
                              <span>Developer</span>
                            </a>
                          </div>
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-03.jpg" alt="User Image">
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Larissa Gebhardt</span>
                              <span>Cyber Punk</span>
                            </a>
                          </div>
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-04.jpg" alt="User Image">
                            </a>

                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Albrecht Straub</span>
                              <span>Photographer</span>
                            </a>
                          </div>
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-05.jpg" alt="User Image">
                              <span class="active bg-danger"></span>
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Leopold Ebert</span>
                              <span>Fashion Designer</span>
                            </a>
                          </div>
                        </div>

                        <div class="media media-sm">
                          <div class="media-sm-wrapper">
                            <a href="user-profile.html">
                              <img src="images/user/user-sm-06.jpg" alt="User Image">
                              <span class="active bg-primary"></span>
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="user-profile.html">
                              <span class="title">Selena Wagner</span>
                              <span>Photographer</span>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>


{% endblock %}