{% extends layout-login.html %}

{% block title %} {{$title}} {% endblock %}

{% block content %}


<?php
  if(!isset($product['product_name'])):
?>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <div class="card card-default">
          <div class="card-header pb-0">
            <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
              <a class="w-auto pl-0" href=".">
                <img src="img/abc-logo.png" alt="ABC Retail">
              </a>
            </div>
          </div>
          <div class="card-body px-7 py-3 text-center">
            <h3 class="text-dark mb-3 text-dark">Oops!</h3>
            <p class="mb-4">Sorry. Item no longer exists. Please scan another.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<?php
  else:
?>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <div class="card card-default">
          <div class="card-header pb-0">
            <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
              <a class="w-auto pl-0" href=".">
                <img src="img/abc-logo.png" alt="ABC Retail">
              </a>
            </div>
          </div>
          <div class="card-body px-7 py-3 text-center">
            <h5 class="text-dark mb-6 text-dark">{{$product['product_name']}}</h5>
            <h2 class="font-weight-bold text-primary">{{itemWithDiscount($product['selling_price'], $product['discounted_price'])}}</h2>
            <div class="bg-danger d-inline-block font-weight-bold h5 py-2 rounded-circle text-white" style="width:45px; height:45px;"> {{calculateDiscount($product['selling_price'], $product['discounted_price'])}}% </div>
            <p class="pt-5 small">Thanks for scanning.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<?php
  endif;
?>




{% endblock %}